<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Área do Atendente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Selecione seu Guichê</ion-label>
    <ion-select placeholder="Escolher número" [(ngModel)]="guicheSelecionado">
      <ion-select-option [value]="1">Guichê 1</ion-select-option>
      <ion-select-option [value]="2">Guichê 2</ion-select-option>
      <ion-select-option [value]="3">Guichê 3</ion-select-option>
    </ion-select>
  </ion-item>

  <div>
    <ion-card color="light" class="ion-no-margin">
      <ion-card-header>
        <ion-card-subtitle
          >ATENDENDO NO GUICHÊ {{ guicheSelecionado }}</ion-card-subtitle
        >
        <ion-card-title
          class="ion-text-center"
          style="font-size: 3em; color: var(--ion-color-primary)"
        >
          {{ senhaAtual?.numero || '---' }}
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <div class="ion-margin-top">
      <ion-button
        expand="block"
        color="success"
        size="large"
        (click)="proximaSenha()"
      >
        <ion-icon name="megaphone-outline" slot="start"></ion-icon>
        Chamar Próximo
      </ion-button>

      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-button expand="block" color="warning" fill="outline">
            Iniciar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="danger" fill="outline">
            Finalizar
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
