<ion-content [fullscreen]="true">
  <div class="container">

    <div class="cabecalho">
      <h1>Retire sua senha</h1>
      <p>Escolha o tipo de atendimento</p>
      <span class="badge-funcionamento">Funcionamento: 07h às 17h</span>
    </div>

    <ion-list>
      <ion-item button routerLink="/senha-prioritaria">
        <ion-avatar slot="start" class="avatar avatar-roxo">
          <span>SP</span>
        </ion-avatar>
        <ion-label>
          <h2>Senha Prioritária</h2>
          <p>Idosos, gestantes, PCD</p>
        </ion-label>
      </ion-item>

      <ion-item button routerLink="/senha-geral">
        <ion-avatar slot="start" class="avatar avatar-verde">
          <span>SG</span>
        </ion-avatar>
        <ion-label>
          <h2>Senha Geral</h2>
          <p>Atendimento comum</p>
        </ion-label>
      </ion-item>

      <ion-item button routerLink="/retirada-exames">
        <ion-avatar slot="start" class="avatar avatar-amarelo">
          <span>SE</span>
        </ion-avatar>
        <ion-label>
          <h2>Retirada de Exames</h2>
          <p>Atendimento rápido</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
